<header>
    <div class="nav-container">
        {{> header/logo}}
        <nav class="nav-left">
            <ul>
                <li>
                    <a class="txt-regular" href="/">Home</a>
                </li>
                <li>
                    <a class="txt-regular" href="/articles">Articles</a>
                </li>
                <li>
                    <a class="txt-regular" href="/about">About</a>
                </li>
            </ul>
        </nav>
        <nav class="nav-right">
            <ul>
                <li>
                    <a class="txt-regular" href="/auth/login">Login</a>
                </li>
            </ul>
        </nav>
    </div>
</header>